
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Tilt+Prism&display=swap');


body {
    font-family: 'Bodoni Moda';
}

main {
    margin: auto;
    width: 80%;
}

body {
    color: rgb(0, 0, 0);

    background-color: #A9907E
}

.container {
    display: flex;
    justify-content: space-between;
}

label,
button {
    display: block;
}

.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form button{   

    width: 100%;
}

.contact-form input{

    width: 60%;
    margin: auto
}