@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Tilt+Prism&display=swap');

body {
    font-family: 'Bodoni Moda';
    color: rgb(0, 0, 0);
    background-color: #bd7d42
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 15px;

}

main {
    margin: auto;
    width: 80%;
}

.container {
    display: flex;
    justify-content: space-between;
}

label,
button {
    display: block;
}

.contact-form {
    width: 70%;
    margin: auto;
}

.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form button {

    width: 100%;
    box-sizing: border-box;
}

.contact-form input {

    width: 100%;
    margin: auto;
}



a:visited {
    color: rgb(90, 90, 90)
}

a:hover {
    color: rgb(209, 172, 147)
}