@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

body {
    color: rgb(253, 253, 253);

    background-color: #A9907E
}

.container {
    display: flex;
    justify-content: space-between;
}

